/* Variables */
$white: #FFF;
$blue: #2196F3;
$border-color: #ccc;
$info-font-color:#333;
$list-font-color:#4c4c4c;
$tablet-width: 768px;
$desktop-width: 1024px;

/* Mixins */
@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin tablet {
    @media (min-width: #{$tablet-width}){
        @content;
    }
}

  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#map {
    height: 100%;
}

.container {
    width: 100%;
}

.btn-up, .btn-down {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 2em;
    padding: 6px 0;
    color: $blue;
    cursor: pointer;
    @include border-radius(5px);
    @include box-shadow(5px, 5px, 20px, rgba(0,0,0,0.23));
    text-align: center;
    background-color: $white;

    &:hover {
        color: darken($blue, 25%);
    }
}

.btn-up {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

}

.list-container {
    position: absolute;
    display: none;
    z-index: 3;
    width: 100%;
    height: 75%;
    bottom: 0;
    background-color: $white;

    @include tablet {
        height: 50%;
    }
}

/* InfoWindow styles */
.info-container {
    width: 280px;
    color: $info-font-color;

    img {
        width: 280px;
        height: 200px;
    }
}

/*  List container styles */
.inner-container {
    width: 100%;

    @include desktop {
        width: 1024px;
        margin: 0 auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            display: block;
            text-decoration: none;
            float: left;
            padding: 15px 20px;
            width: 100%;
            text-align: left;
            border-bottom: solid 1px $border-color;
            color: $list-font-color;
            cursor: pointer;

            &:hover {
                color: $white;
                background-color: darken($blue, 10%);
                border-bottom: solid 1px $white;
            }

            @include tablet {
                width: 50%;
            }

            @include desktop {
                width: 33.33%;
                text-align: center;
            }
        }
        .active {
            color: $white;
            background-color: $blue;
            border-bottom: solid 1px $white;
        }
    }
}



/* Input field */
.input-text {
    width: calc(100% - 20px);
    margin: 20px 10px 10px;
    padding: 10px;

    @include tablet {
        width: calc(50% - 20px);
    }

    @include desktop {
        width: calc(33.33% - 20px);
    }
}